Repository IGNF/geopf-extensions-openlayers, pull requests merged in 2024-09, with the labels that each got.

#158 fix(layerswitcher)(dsfr): positionnement et rendu de la fenetre infos
  package.json
  src/packages/CSS/Controls/LayerSwitcher/DSFRlayerSwitcherStyle.css
  src/packages/CSS/Controls/LayerSwitcher/GPFlayerSwitcher.css
  src/packages/CSS/Controls/LayerSwitcher/GPFlayerSwitcherStyle.css
  src/packages/Controls/Control.js
  src/packages/Controls/LayerSwitcher/LayerSwitcherDOM.js
Labels: enhancement, dsfr

#157 feat(iti)(iso)(dsfr): améltioration et harmonisation du rendu. maquette.
  package.json
  src/packages/CSS/Controls/Isochron/DSFRisochronStyle.css
  src/packages/CSS/Controls/Isochron/GPFisochron.css
  src/packages/CSS/Controls/Isochron/GPFisochronStyle.css
  src/packages/CSS/Controls/LocationSelector/DSFRlocationStyle.css
  src/packages/CSS/Controls/Route/DSFRrouteStyle.css
  src/packages/CSS/Controls/Route/GPFroute.css
  src/packages/CSS/Controls/Route/GPFrouteStyle.css
  src/packages/CSS/DSFRgeneralWidget.css
  src/packages/Controls/Isocurve/Isocurve.js
  src/packages/Controls/Isocurve/IsocurveDOM.js
  src/packages/Controls/LocationSelector/LocationSelectorDOM.js
  src/packages/Controls/Route/Route.js
  src/packages/Controls/Route/RouteDOM.js
Labels: enhancement, dsfr

#165 feat(ls)(dsfr): contextual menu + all width in mobile mode
  package.json
  samples-src/pages/tests/LayerSwitcher/pages-ol-layerswitcher-modules-dsfr-default.html
  src/packages/CSS/Controls/LayerSwitcher/DSFRlayerSwitcherStyle.css
  src/packages/CSS/Controls/LayerSwitcher/img/dsfr/context.svg
  src/packages/Controls/LayerSwitcher/LayerSwitcherDOM.js
Labels: enhancement

#173 fix(layerSwitcher): Ajout de l’événement de modification de position d'une couche
  samples-src/pages/tests/LayerSwitcher/pages-ol-layerswitcher-modules-addlayers.html
  src/packages/Controls/LayerSwitcher/LayerSwitcher.js
Labels: bug

#115 feat(Territories): Nouveau widget sur la sélection de territoire
  DRAFT_CHANGELOG.md
  build/webpack/controls.webpack.config.js
  build/webpack/extend.themes.webpack.js
  build/webpack/modules.webpack.config.js
  demos/angular-project/src/app/app.component.ts
  demos/esmodule-project/main.js
  demos/react-project/src/App.js
  demos/vue-project/src/components/MapContainer.vue
  package.json
  samples-src/pages/tests/Default/pages-ol-bundle-dsfr-default.html
  samples-src/pages/tests/Default/pages-ol-modules-default.html
  samples-src/pages/tests/Default/pages-ol-modules-dsrf-default.html
  samples-src/pages/tests/Territories/pages-ol-territories-modules-options-dsfr.html
  samples-src/resources/data/PAR.png
  src/index.js
  src/packages/CSS/Controls/Catalog/GPFcatalogStyle.css
  src/packages/CSS/Controls/Legends/GPFlegendsStyle.css
  src/packages/CSS/Controls/Territories/DSFRterritoriesStyle.css
  src/packages/CSS/Controls/Territories/GPFterritories.css
  src/packages/CSS/Controls/Territories/GPFterritoriesStyle.css
  src/packages/CSS/Controls/Territories/img/dsfr/collapse.svg
  src/packages/CSS/Controls/Territories/img/dsfr/header-territories.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/fxx.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/glp.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/guf.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/idf.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/mtq.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/myt.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/ncl.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/reu.svg
  src/packages/CSS/Controls/Territories/img/dsfr/picto/spm.svg
  src/packages/CSS/Controls/Territories/img/dsfr/territories-small.svg
  src/packages/CSS/Controls/Territories/img/dsfr/territories.svg
  src/packages/CSS/Controls/Territories/img/image-not-found.svg
  src/packages/Controls/Territories/Territories.js
  src/packages/Controls/Territories/Territories.json
  src/packages/Controls/Territories/TerritoriesDOM.js
  src/packages/bundle.js
Labels: new feature, dsfr
