Repository IGNF/geopf-extensions-openlayers, pull requests merged in 2024-08, with the labels that each got.

#126 fix(dsfr-searc): search results color dark mode
  package.json
  src/packages/CSS/Controls/LocationSelector/GPFlocation.css
  src/packages/CSS/Controls/SearchEngine/DSFRsearchEngineStyle.css
  src/packages/CSS/Controls/SearchEngine/GPFsearchEngineStyle.css
Labels: dsfr

#125 feat(dsfr-search): search advanced menu opens on focus
  package.json
  src/packages/CSS/Controls/SearchEngine/DSFRsearchEngineStyle.css
Labels: enhancement

#133 fix(icons): mise à jour des icones des widgets en mode dsfr
  package.json
  src/packages/CSS/Controls/ElevationPath/img/altipath.svg
  src/packages/CSS/Controls/GetFeatureInfo/img/GFI.svg
  src/packages/CSS/Controls/Isochron/img/isochrone.svg
  src/packages/CSS/Controls/Measures/DSFRmeasureAzimuthStyle.css
  src/packages/CSS/Controls/Measures/img/mesurer-azimuth.svg
  src/packages/CSS/Controls/Measures/img/modifier-geometrie-old.svg
  src/packages/CSS/Controls/MousePosition/img/position.svg
  src/packages/CSS/Controls/Route/img/route.svg
Labels: enhancement, dsfr

#136 feat(ls-dsfr): new dragndrop icon
  package.json
  src/packages/CSS/Controls/LayerSwitcher/DSFRlayerSwitcherStyle.css
  src/packages/CSS/Controls/LayerSwitcher/img/dsfr/dragndrop-blanc.svg
  src/packages/CSS/Controls/LayerSwitcher/img/dsfr/dragndrop.svg
Labels: dsfr

#138 fix(search:css): meilleur centrage des éléments de la barre de recherche en DSFR
  src/packages/CSS/Controls/SearchEngine/DSFRsearchEngineStyle.css
  src/packages/CSS/Controls/SearchEngine/GPFsearchEngine.css
  src/packages/CSS/Controls/SearchEngine/GPFsearchEngineStyle.css
  src/packages/Controls/SearchEngine/SearchEngineDOM.js
Labels: enhancement, dsfr

#139 feat(route:dsfr): route widget compatible with dsfr
  package.json
  samples-src/pages/tests/Route/pages-ol-route-modules-dsfr-default.html
  src/packages/CSS/Controls/Isochron/DSFRisochronStyle.css
  src/packages/CSS/Controls/LocationSelector/DSFRlocationStyle.css
  src/packages/CSS/Controls/LocationSelector/GPFlocation.css
  src/packages/CSS/Controls/LocationSelector/GPFlocationStyle.css
  src/packages/CSS/Controls/LocationSelector/img/dsfr/close-line.svg
  src/packages/CSS/Controls/Route/DSFRrouteStyle.css
  src/packages/CSS/Controls/Route/GPFroute.css
  src/packages/CSS/Controls/Route/GPFrouteStyle.css
  src/packages/CSS/DSFRgeneralWidget.css
  src/packages/CSS/GPFgeneralWidget.css
  src/packages/Controls/LocationSelector/LocationSelectorDOM.js
  src/packages/Controls/Route/Route.js
  src/packages/Controls/Route/RouteDOM.js
Labels: enhancement, dsfr

#140 fix(css:fullscreen): remplacement icon fullscreen
  src/packages/CSS/Controls/FullScreen/img/dsfr/fullscreen-off.svg
Labels: enhancement, dsfr

#143 fix(panel:iso/route): ajout d'une hauteur max avec scrollbar en DSFR
  package.json
  samples-src/pages/tests/Isocurve/pages-ol-isocurve-modules-default.html
  samples-src/pages/tests/Isocurve/pages-ol-isocurve-modules-dsfr-default.html
  samples-src/pages/tests/Route/pages-ol-route-modules-default.html
  samples-src/pages/tests/Route/pages-ol-route-modules-dsfr-default.html
  src/packages/CSS/Controls/Isochron/DSFRisochronStyle.css
  src/packages/CSS/Controls/Isochron/GPFisochron.css
  src/packages/CSS/Controls/Route/DSFRrouteStyle.css
  src/packages/CSS/Controls/Route/GPFroute.css
Labels: bug, dsfr

#148 fix(search:css): reduction des marges en centrage
  package.json
  src/packages/CSS/Controls/SearchEngine/DSFRsearchEngineStyle.css
  src/packages/CSS/Controls/SearchEngine/GPFsearchEngine.css
  src/packages/CSS/Controls/SearchEngine/GPFsearchEngineStyle.css
Labels: enhancement

#149 fix(search): disparition recherche avancé en mobile + améliorations diverses (centrage)
  package.json
  src/packages/CSS/Controls/SearchEngine/DSFRsearchEngineStyle.css
Labels: bug
