Repository IGNF/geopf-extensions-openlayers, pull requests merged in 2025-03, with the labels that each got.

#362 style(route): panel de résultats plus lisible
  DRAFT_CHANGELOG.md
  package.json
  src/packages/CSS/Controls/Route/DSFRrouteStyle.css
  src/packages/CSS/Controls/Route/GPFrouteStyle.css
  src/packages/Controls/Route/Route.js
  src/packages/Controls/Route/RouteDOM.js
Labels: bug, enhancement, dsfr

#364 Fix(Export:Compute): Le panel d'export s'affiche uniquement dans la boite de résultats du calcul
  DRAFT_CHANGELOG.md
  package.json
  samples-src/pages/tests/ElevationPath/pages-ol-elevationpath-modules-amcharts-export.html
  samples-src/pages/tests/ElevationPath/pages-ol-elevationpath-modules-dsfr-amcharts-export.html
  samples-src/pages/tests/Isocurve/pages-ol-isocurve-modules-dsfr-export.html
  samples-src/pages/tests/Isocurve/pages-ol-isocurve-modules-export.html
  samples-src/pages/tests/Route/pages-ol-route-modules-dsfr-export.html
  samples-src/pages/tests/Route/pages-ol-route-modules-export.html
  src/packages/CSS/Controls/Export/GPFexportStyle.css
  src/packages/CSS/Controls/Isochron/DSFRisochronStyle.css
  src/packages/CSS/Controls/Isochron/GPFisochron.css
  src/packages/CSS/Controls/Isochron/GPFisochronStyle.css
  src/packages/CSS/Controls/Isochron/img/GPisochronClose.png
  src/packages/CSS/Controls/Route/GPFroute.css
  src/packages/CSS/GPFgeneralWidget.css
  src/packages/Controls/Isocurve/Isocurve.js
  src/packages/Controls/Isocurve/IsocurveDOM.js
  src/packages/Controls/Route/Route.js
  src/packages/Controls/Utils/OGCRequest.js
  src/packages/Utils/MathUtils.js
Labels: bug, enhancement, dsfr

#369 fix(Catalog): vérification qu'on a bien la propriété serviceParams
  DRAFT_CHANGELOG.md
  package.json
  src/packages/Controls/Catalog/Catalog.js
Labels: bug

#367 feat(ls): add greyscale btn. only works for raster pour l'instant
  package.json
  src/packages/CSS/Controls/LayerSwitcher/DSFRlayerSwitcherStyle.css
  src/packages/CSS/Controls/LayerSwitcher/GPFlayerSwitcherStyle.css
  src/packages/CSS/Controls/LayerSwitcher/img/dsfr/greyscale.svg
  src/packages/Controls/LayerSwitcher/LayerSwitcher.js
  src/packages/Controls/LayerSwitcher/LayerSwitcherDOM.js
Labels: new feature

#373 style(profil alti)(dsfr): changer style des résultats écrits
  DRAFT_CHANGELOG.md
  package.json
  src/packages/CSS/Controls/ElevationPath/DSFRelevationPathStyle.css
  src/packages/CSS/Controls/ElevationPath/GPFelevationPathStyle.css
  src/packages/Controls/ElevationPath/ElevationPath.js
Labels: dsfr
